*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}



form {
display: flex;
gap: 30px;
justify-content: center;
}

form div {
    background: lightblue;
    padding: 10px;
}